# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
venv310/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/
aws.env

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Lambda dependencies (these will be installed during deployment)
t1_cs/annotated_types/
t1_cs/annotated_types-*.dist-info/
t1_cs/anyio/
t1_cs/anyio-*.dist-info/
t1_cs/fastapi/
t1_cs/fastapi-*.dist-info/
t1_cs/idna/
t1_cs/idna-*.dist-info/
t1_cs/mangum/
t1_cs/mangum-*.dist-info/
t1_cs/pydantic/
t1_cs/pydantic_core/
t1_cs/pydantic_core-*.dist-info/
t1_cs/pydantic-*.dist-info/
t1_cs/pymysql/
t1_cs/PyMySQL-*.dist-info/
t1_cs/sniffio/
t1_cs/sniffio-*.dist-info/
t1_cs/sqlalchemy/
t1_cs/sqlalchemy-*.dist-info/
t1_cs/starlette/
t1_cs/starlette-*.dist-info/
t1_cs/typing_extensions-*.dist-info/
t1_cs/typing_inspection/
t1_cs/typing_inspection-*.dist-info/
t1_cs/bin/
t1_cs/typing_extensions.py
.DS_Store
/frontend/node_modules/
venv310/
